<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=yes, user-scalable=yes">
  <!--jquery-->
  <script src="/plugins/jquery/dist/jquery.min.js"></script>
  <!--bootstrap-->
  <link href="/plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <!--index.js-->
   <script src="/public/js/login.js" defer="defer"></script>
</head>

<body>
    <div class="container">
      <p>
        王國：<select id='MWSelect'></select>
      </p>
      <p>
        王國密碼：<input id='password' type="text"> (註冊時需要，已註冊可略過)       
      </p>
      <p>
        名稱：<input id='name' type="text">
        <button onclick="login.login()">登入</button>
      </p>
    </div>
</body>

</html>